
<div class="section">
    <header>
        <div class="banner">
            <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
                <source src="images/homeVideo.webm" type="video/webm">
                <source src="images/homeVideo.mp4" type="video/mp4">
                <source src="images/homeVideo.ogv" type="video/ogg">
            </video>
            <div class="container">
                <h1>LEX International Law Firm</h1>
                <p>Branched across North and South America and Europe, we handle complex matters nationally and internationally,
                offering expertise legal counsel and advocacy to large, small and start-up businesses, as well as investors and individuals
                in a diverse area of law practices.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h2>Principal US Attorneys</h2>
                <ul class="native">
                    <li>Lucius SMEJDA (USA, Canada)</li>
                    <li>Joseph B. McFARLAND (USA)</li>
                    <li>Antonio R. ZAMORA (USA)</li>
                    <li>Maxim ISTOMIN (Russia, USA)</li>
                    <li>Elke ROLFF (USA, Switzerland)</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Our Legal Services</h2>
                <ul class="native">
                    <li>Taxation</li>
                    <li>Business</li>
                    <li>Investments</li>
                    <li>Corporations</li>
                    <li>Immigration</li>
                    <li>Real Estate</li>
                    <li>Asset & Estate Planning</li>
                    <li>International Notary Practice</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Principal Int'l Network Attorneys</h2>
                <ul class="native">
                    <li>Eric J.P CITREY (France)</li>
                    <li>Vladimir A. TROITSKIY (Russia)</li>
                    <li>Evgeny V. GOLOVANOV (Russia)</li>
                    <li>Olivier HANCE (Belgium)</li>
                    <li>Aleksandr SMIRNOV (Russia)</li>
                    <li>Jacques ETHIER (Can)</li>
                    <li>Carlos AUD (Brazil)</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>USA, Russia, Belgium, Canada, Brazil, Luxemburg</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
