
<header>
    <div class="banner">
        <video loop muted autoplay poster="img/videoframe.jpg">
            <source src="images/videoHome.webm" type="video/webm">
            <source src="images/videoHome.mp4" type="video/mp4">
            <source src="images/videoHome.ogv" type="video/ogg">
        </video>
        <div class="shade">
            <div class="container">
                <h1>LEX International Law Firm</h1>
                <p>Branched across North and South America and Europe, we handle complex matters nationally and internationally,
                offering expertise legal counsel and advocacy to large, small and start-up businesses, as well as investors and individuals
                in a diverse area of law practices.</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h2>Principal US Attorneys</h2>
                <ul class="native">
                    <li><p>Lucius SMEJDA (USA, Canada)</p></li>
                    <li><p>Joseph B. McFARLAND (USA)</p></li>
                    <li><p>Antonio R. ZAMORA (USA)</li>
                    <li><p>Maxim ISTOMIN (Russia, USA)</p></li>
                    <li><p>Elke ROLFF (USA, Switzerland)</p></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Our Legal Services</h2>
                <ul class="native">
                    <li><p>Taxation</p></li>
                    <li><p>Business</p></li>
                    <li><p>Investments</p></li>
                    <li><p>Corporations</p></li>
                    <li><p>Immigration</p></li>
                    <li><p>Real Estate</p></li>
                    <li><p>Asset & Estate Planning</p></li>
                    <li><p>International Notary Practice</p></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Principal Int'l Network Attorneys</h2>
                <ul class="native">
                    <li><p>Eric J.P CITREY (France)</p></li>
                    <li><p>Vladimir A. TROITSKIY (Russia)</p></li>
                    <li><p>Evgeny V. GOLOVANOV (Russia)</p></li>
                    <li><p>Olivier HANCE (Belgium)</p></li>
                    <li><p>Aleksandr SMIRNOV (Russia)</p></li>
                    <li><p>Jacques ETHIER (Can)</p></li>
                    <li><p>Carlos AUD (Brazil)</p></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="highlighted">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Locations</h2>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="images/usa.jpeg">
                <h3>USA</h3>
                <p>International Place<br />
                100 S.E. 2nd St. #2222<br />
                Miami, Florida 33131<br />
                USA</p>
                <p>Tel:  +1 (305) 358-9990<br />
                Fax :  +1 (305) 358-9997</p>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="images/russia.jpeg">
                <h3>Russia</h3>
                Richwise<br />
                3rd Floor<br />
                7rd Line 76, Basil Island<br />
                St-Petersburg, 199178<br />
                Russia</p>
                <p>Tel:  +7 (812) 323-9086</p>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="images/belgium.jpeg">
                <h3>Belgium</h3>
                <p>475, Avenue Louise<br />
                B-1050 Bruxelles<br />
                Belgium</p>
                <p>Tel: +32 491 940 149<br />
                Fax: +32 2 791 53 85</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="images/luxemburg.jpeg">
                <h3>Luxemburg</h3>
                <p>17, Boulevard Royal<br />
                L-2449<br />
                Luxembourg<br />
                GD Luxembourg</p>
                <p>Tel: +352 274 404<br />
                Fax: +352 246 119 19</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="images/canada.jpeg">
                <h3>Canada</h3>
                <p>1, Carr&eacute; Westmount<br />
                Bureau 1001<br />
                Westmount (Qu&eacute;bec)<br />
                Canada H3Z 2P9</p>
                <p>Tel: +1 (514) 396 6608<br />
                Fax: +1 (514) 940 0645</p>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="images/brazil.jpeg">
                <h3>Brazil</h3>
                CAS &Oacute;leo<br />
                Visas Legaliza&ccedil;&atilde;o de Documentos ltda.<br />
                Matriz: Rua da Assembléia 19- 5&deg; andar<br/>
                Centro<br />
                CEP 20011-001<br />
                Rio de Janeiro, RJ<br />
                Brasil</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section-colored -->
