
<header>
    <div class="banner home">
        <video muted autoplay poster="img/videoframe.jpg">
            <source src="images/homeVideo.webm" type="video/webm">
            <source src="images/homeVideoHS.mp4" type="video/mp4">
            <source src="images/homeVideo.ogv" type="video/ogg">
        </video>
        <div class="shade">
            <div class="container">
                <h1>LEX International <span class="text-nowrap">Law Firm</h1>
                <p>Focusing on the jurisdictions of Europe and North America, we handle complex matters nationally and internationally.
                We offer expertise legal counsel, advocacy, and support services to large or small enterprises, as well as start-up businesses, investors and idividuals,
                engaged in international transactions, businesses and investments.</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Principal US Attorneys</h2>
                <ul class="native">
                    <li><p><a href="#/our_team#lawyer10">Lucius SMEJDA</a> (USA, Canada)</p></li>
                    <li><p><a href="#/our_team#lawyer11">Joseph B. McFARLAND</a> (USA)</p></li>
                    <li><p><a href="#/our_team#lawyer12">Antonio R. ZAMORA</a> (USA)</li>
                    <li><p><a href="#/our_team#lawyer13">Maxim ISTOMIN</a> (Russia, USA)</p></li>
                    <li><p><a href="#/our_team#lawyer14">Elke ROLFF</a> (USA, Switzerland)</p></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Our Legal Services</h2>
                <ul class="native">
                    <li><p><a href="#/practice_areas#practice1">Taxation</a></p></li>
                    <li><p><a href="#/practice_areas#practice2">Business</a></p></li>
                    <li><p><a href="#/practice_areas#practice3">Investments</a></p></li>
                    <li><p><a href="#/practice_areas#practice4">Corporations</a></p></li>
                    <li><p><a href="#/practice_areas#practice5">Immigration</a></p></li>
                    <li><p><a href="#/practice_areas#practice6">Real Estate</a></p></li>
                    <li><p><a href="#/practice_areas#practice7">Asset &amp; Estate Planning</a></p></li>
                    <li><p><a href="#/practice_areas#practice8">International Notary Practice</a></p></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Principal Int'l Network Attorneys</h2>
                <ul class="native">
                    <li><p><a href="#/our_team#lawyer20">Eric J.P CITREY</a> (France)</p></li>
                    <li><p><a href="#/our_team#lawyer21">Vladimir A. TROITSKIY</a> (Russia)</p></li>
                    <li><p><a href="#/our_team#lawyer22">Evgeny V. GOLOVANOV</a> (Russia)</p></li>
                    <li><p><a href="#/our_team#lawyer23">Olivier HANCE</a> (Belgium)</p></li>
                    <li><p><a href="#/our_team#lawyer24">Aleksandr SMIRNOV</a> (Russia)</p></li>
                    <li><p><a href="#/our_team#lawyer25">Jacques ETHIER</a> (Can)</p></li>
                    <li><p><a href="#/our_team#lawyer26">Carlos AUD</a> (Brazil)</p></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="highlighted">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Locations</h2>
            </div>

            <div class="col-xs-6 col-sm-4">
                <img class="img-responsive" src="images/locations_usa.jpeg">
                <h3>USA</h3>
                <p>International Place<br />
                100 S.E. 2nd St. #2222<br />
                Miami, Florida 33131<br />
                USA</p>
                <p>Tel:  +1 (305) 358-9990<br />
                Fax :  +1 (305) 358-9997</p>
            </div>

            <div class="col-xs-6 col-sm-4">
                <img class="img-responsive" src="images/locations_russia.jpeg">
                <h3>Russia</h3>
                <p>Richwise - 3rd Floor<br />
                7rd Line 76, Basil Island<br />
                St-Petersburg, 199178<br />
                Russia</p>
                <p>Tel:  +7 (812) 323-9086</p>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-4">
                <img class="img-responsive" src="images/locations_belgium.jpeg">
                <h3>Belgium</h3>
                <p>475, Avenue Louise<br />
                B-1050 Bruxelles<br />
                Belgium</p>
                <p>Tel: +32 491 940 149<br />
                Fax: +32 2 791 53 85</p>
            </div>

            <div class="clearfix hidden-xs"></div>

            <div class="col-xs-6 col-sm-4">
                <img class="img-responsive" src="images/locations_luxemburg.jpeg">
                <h3>Luxemburg</h3>
                <p>17, Boulevard Royal<br />
                L-2449<br />
                Luxembourg<br />
                GD Luxembourg</p>
                <p>Tel: +352 274 404<br />
                Fax: +352 246 119 19</p>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-4">
                <img class="img-responsive" src="images/locations_canada.jpeg">
                <h3>Canada</h3>
                <p>1, Carr&eacute; Westmount<br />
                Bureau 1001<br />
                Westmount (Qu&eacute;bec)<br />
                Canada H3Z 2P9</p>
                <p>Tel: +1 (514) 396 6608<br />
                Fax: +1 (514) 940 0645</p>
            </div>

            <div class="col-xs-6 col-sm-4">
                <img class="img-responsive" src="images/locations_brazil.jpeg">
                <h3>Brazil</h3>
                <p>CAS &Oacute;leo<br />
                Visas Legaliza&ccedil;&atilde;o de Documentos ltda.<br />
                Matriz:<br />
                Rua da Assembl&eacute;ia 19 - 5&deg; andar - Centro<br/>
                Rio de Janeiro, RJ - Brasil<br />
                CEP 20011-001</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section-colored -->
