@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Titillium+Web:200');
body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6, .navbar {
    font-family: 'Titillium Web', 'Exo', sans-serif;
}

/* inherit */

.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    font-weight: inherit;
    color: inherit;
}

/* Global Styles */

html, body {
    height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #222;
    font-size: 18px;
    background: white;
}
section, .banner {
    padding: 40px  0 60px;
}

/*-- _HEADINGS -------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	color: #009973;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 20px;
}

h1 {
	font-size: 65px;
	color: white;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 26px;
}
.highlighted h2 {
	color: #b3ff66;
}
.highlighted h3 {
	color: #b3ff66;
}

/*-- _NAVIGATION --*/

.navbar {
    font-size: 16px;
    border: 0;
    box-shadow: 0 0 6px 6px rgba(0,0,0,.1);
    background: rgba(255,255,255,0.9);
    font-weight: bold;
}
.navbar, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #009973;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand:hover , .navbar-inverse .navbar-brand:focus {
    color: #80ff00;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
section.highlighted {
    background: #009973;
    color: white;
}

.dropdown {
    cursor:pointer;
}


/*-- _BANNER ----------------------------------- */

header {
}
.banner {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    font-size: 24px;
    color: White;
}
.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.banner {
    background: rgba(10, 110, 40, 0.6);
}
.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

ul.native {
    padding-left: 0;
    list-style: none;
}


/* Page Sections */


.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}
