@import url('https://fonts.googleapis.com/css?family=Work+Sans:300|Kanit:100|Titillium+Web:200');
body {
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
}
.banner, .intro {
    font-family: Kanit;
}
h1,h2,h3,h4,h5,h6, .navbar, footer nav {
    font-family: 'Titillium Web', sans-serif;
}

/* -- _NAVIGATION INHERIT ---------------------0--------------- */

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: inherit;
    background: inherit;
}

/* --- _SECTIONS ---------------------------- */

html, body {
    height: 100%;
}
body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
    color: Black;
    background: White;
    font-smooth: never;
}
section {
}
.container.highlight {
    margin-top: 3em;
}
.banner {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
div[class*='col-'] {
    padding-top: 1em;
    padding-bottom: 1em;
}
div[class*='col-'] div[class*='col-'] {
    padding-top: 0;
    padding-bottom: 0;
}
.row {
    margin-top: 1em;
    margin-bottom: 1em;
}
.row .row {
    margin-top: 0;
    margin-bottom: 0;
}
footer .row {
    margin-bottom: 0;
}

/*-- _LINKS ---------------------------------------------------- */

a, a:hover {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.5s;
}
p a {
    border-bottom: 2px dotted #009999;
}
p a:hover {
    border-bottom: none;
}
nav a, .dropdown-menu > li > a {
    font-weight: bold;
}

/* -- LINK COLOR -----------------------------------------------------  */

/* nav color */
footer nav a, p a,
.navbar .navbar-nav a, .navbar .navbar-nav > li > a, .navbar .dropdown-menu > li > a {
    color: #009999;
}
/* nav hover color */
a:hover,
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar-nav .dropdown:hover > a, .navbar-nav .dropdown a:hover,
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
    color: #ace600;
    color: #94c20a;
    color: #99cc00;
}

/*-- _HEADINGS and COPY -------------------------------------------- */

h1, h2, h3 {
	color: #00b386;
	color: #00b32d;
    font-weight: 200;
    margin: 0 0 20px;
}
p {
    line-height: 1.5;
}
.chevron {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}
.chevron li {
    padding-left: 20px;
    background: url("assets/iconmonstr-arrow-29.svg") no-repeat left .4em;
}
.chevron p {
    margin-bottom: 3px;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}
/* -- SPECIAL SECTIONS -------------------------------------- */

.intro {
    color: #00b3b3;
    color: #94c20a;
    color: #ffbf00;
    color: #a32949;
    color: #0a94c2;
    color: #940ac2;
    color: #f9bc06;
    color: #f9bc06;
    color: #ff8000;
    color: #009999;
}

.focus .row {
    background: rgba(255, 128, 0, 0);
    background: rgba(0, 179, 45, 0);
    background: rgba(0, 128, 128, 0);
}
.col-focus-1 {
    background: rgba(255, 128, 0, 0);
    background: rgba(0, 179, 45, 0.03);
    background: rgba(0, 128, 128, 0.08);
}
.col-focus-2 {
    background: rgba(0, 179, 45, 0.04);
}


section.highlight {
    background: url("assets/BG-our_locations.jpeg") no-repeat center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background: transparent;
}
.container.highlight {
    background: #006666;
    color: rgba(255, 255, 255, 0.75);
}
.highlight h2 {
	color: #ace600;
}
.highlight h3 {
	color: #ffd966;
}
.highlight img {
}

/* -- _BRAND _LOGO --------------------------------------------- */

.navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
    background: #94c20a;
    color: White;
    text-shadow: none;
}
.navbar .navbar-brand:hover {
    background: #006666;
    color: White;
}

/*-- _BANNER ----------------------------------- */

.banner {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    background: rgba(0, 200, 200, 0.5); /* homeVideo6HD */
    background: rgba(0, 0, 100, 0.4); /* homeVideo9HD */
    background: rgba(30, 100, 0, 0.7); /* homeVideo11HD */
    background: rgba(50, 100, 50, 0.5); /* homeVideoA */
    background: rgba(30, 100, 30, 0.7); /* homeVideoB */
    background: rgba(0, 0, 0, 0.3); /* homeVideoC */
    background: transparent;
	border-bottom: 5px solid #ace600;
	color: White;
}
.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.banner.the_firm, .banner.practice_areas, .banner.our_team, .banner.links_events, .banner.contact {
    background-repeat: no-repeat left -100px;
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
}
.banner h1, .banner.home {
	color: rgba(255, 255, 255, 0.9);
}
.banner.the_firm {
    background-image: url("assets/BG-the_firm.jpg");
    background-position: center top;
}
.banner.practice_areas {
    background-image: url("assets/BG-practice_areas.png");
    background-position: center -200px;
}
.banner.our_team {
    background-image: url("assets/BG-our_team2.jpeg");
    background-position: center -100px;
}
.banner.links_events {
    background-image: url("assets/BG-links_events.jpeg");
    background-position: right -50px;
    padding-bottom: 4em;
}
.banner.contact {
    background-image: url("assets/BG-contact.jpg");
    background-position: right center;
}

/*
.banner.the_firm .shade {
    background: rgba(111, 145, 8, 0.5);
    text-shadow: 1px 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/










/* ------------------------------------------------------------------ */










/* MEDIUM ONLY */
@media only screen and (min-width: 769px) and (max-width : 1199px) {
    /*
    ul.halfWidth-sm {
        margin-right: -4%;
    }
    ul.halfWidth-sm li {
        float: left;
        margin: 0 1% 0 0;
        width: 49%;
    }
    */
    ul.halfWidth-sm {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}



/* MEDIUM or larger = ALL Desktops */
@media only screen and (min-width: 769px) {
    body {
        font-size: 18px;
    }
    .highlight .row {
    }
    .highlight h3 {
        padding-top: 20px;
    }
    .highlight .image {
        margin: 0 -15px;
    }
    .no-gutter .row .col-sm-6 {
        padding: 0;
    }
    /*
    .col-lg-12 h2 {
        margin-top: -140px;
        margin-bottom: 20px;
        font-size: 50px;
        height: 100px;
        color: White;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 15px  15px 25px  15px;
    }
    .first .col-lg-12 h2 {
        margin-top: 0;
        margin-bottom: 20px;
        height: auto;
        color: inherit;
        background-color: transparent;
        padding: 0;
    }
    */

    .practiceareas img {
        padding-top: 3em;
        margin-bottom: -0.5em;
    }
    .practiceareas h2 {
        font-size: 50px;
        text-align: center;
    }
    /* --- MAINNAV --- MEDIUM or larger --- */

    .navbar {
        border: 0;
        background: rgba(255,255,255,0.95);
        box-shadow: 0 0 6px 6px rgba(0,0,0,.3);
        background-position: center bottom;
        transition-duration: 1s;
    }
    .nav > li > a:hover, .nav > li > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        background: inherit;
    }
    .navbar.noscroll {
        background: transparent;
        box-shadow: none;
    }

    .dropdown {
        cursor: pointer;
    }
    .dropdown-menu {
        background: rgba(255,255,255,0.95);
        box-shadow: 0px 5px 4px 1px rgba(0,0,0,.3);
        border: 0;
    }
    .dropdown-menu > li:last-child > a {
        font-weight: 300;
    }

    .nav > li > a {
        padding: 15px 12px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        text-align: right;
    }
    .noscroll .dropdown-menu {
        background: transparent;
        box-shadow: none;
    }
    .noscroll a, .navbar.noscroll .navbar-nav > li > a, .noscroll .dropdown-menu > li > a {
        color: white;
    }
    .navbar.noscroll .navbar-nav > li > a:hover, .navbar.noscroll .navbar-nav > li > a:focus, .noscroll .dropdown-menu > li > a:hover {
        color: #ace600;
    }
    .noscroll .navbar-collapse a {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    ul.chevron li {
        background-size: 12px 12px;
    }

    /* --- FONT-SIZES --- MEDIUM or larger --- */

    .navbar {
        font-size: 15px;
    }
    .navbar .navbar-brand {
        font-size: 17px;
    }

    .banner p {
        font-size: 30px;
        line-height: 1;
        /* text-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
    }
    .banner h1 {
    	font-size: 60px;
    }
    .banner.home h1 {
    	font-size: 45px;
    }
    .intro p {
        font-size: 40px;
        line-height: 1;
    }

    h2 {
    	font-size: 38px;
    }
    .highlight h2 {
    	font-size: 55px;
    	margin: 0;
    }
    h3 {
    	font-size: 35px;
    }
    .address p {
        font-size: 15px;
        color: white;
    }

    /* --- FOOTER --- MEDIUM or larger --- */

    footer {
        font-size: 16px;
        color: gray;
    }
    footer nav ul {
        font-size: 21px;
        list-style-type: none;
    }
    footer nav ul li {
        padding: 2px 0;
    }
    footer .contact .larger span {
        font-size: 18px;
        border-bottom: 2px dotted gray;
        padding-bottom: 4px;
        margin-bottom: 10px;
    }
    footer .copyright {
        background: #eee;
        padding-top: 1em;
        font-size: 13px;
    }
}




/* === LARGE or larger =================================== */

@media only screen and (min-width : 993px) {
    body {
        font-size: 20px;
    }
    ul.chevron li {
        background-size: 15px 15px;
    }
    .highlight div[class*='col-'] {
        padding-left: 25px;
        padding-right: 25px;
    }
    .highlight .image {
        margin: 0 -25px;
    }

    /* --- FONT-SIZE --- LARGE or larger --- */

    body {
    }
    .navbar {
        font-size: 18px;
    }
    .navbar .navbar-brand {
        font-size: 20px;
    }

    .banner p {
        font-size: 34px;
    }
    .banner h1 {
    	font-size: 70px;
    }
    .banner.home h1 {
    	font-size: 60px;
    }
    .intro p {
    	font-size: 45px;
    }
    .address p {
        font-size: 17px;
    }

    /* --- FOOTER --- LARGE or larger --- */

    footer .copyright {
        font-size: 14px;
    }
    footer nav ul li {
        display: inline;
        border-left: 2px dotted #009973;
        padding: 0 0 0 12px;
        margin-left: 8px;
        font-size: 18px;
    }
    footer nav ul li:first-child {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
    }
}





/* === X-LARGE or larger =================================== */

@media only screen and (min-width : 1201px) {


    .banner {
        padding-top: 200px;
    }
    .banner h1 {
    	font-size: 80px;
    }
    .banner p {
        font-size: 40px;
    }
    .col-focus {
        margin-top: 0;
    }

    footer nav ul li {
        font-size: 22px;
    }
}







/* ======================================================= */








/* === MOBILE and TABLETS ====== SMALL ================= */

@media only screen and (max-width : 768px) {
    div[class*='col-'] img {
        display: none;
    }
    body {
        font-size: 18px;
    }
    h1 {
    	font-size: 45px;
    }
}

/* === col-xm-* ======================================== */

@media only screen and (max-width : 550px) {
    div[class*='col-'] {
        width: 100%;
    }
}


/* === MOBILE ONLY ============ XSMALL ================ */

@media only screen and (max-width : 480px) {}


/* === Retina ========================================= */

@media only screen and (max-width : 320px) {}





/*
div[class^='col'] h3, div[class*='col'] h3 {
    color: #F00;
}

.col-lg-3:nth-child(4n+1){
    clear: left;
}
*/

/* --- _COLORS
ace600 - real lime
94c20a - link hover | logo background
009973 - nav color

739900 - logo hover background

00b386 - blue green used for default heading color

1f473d - dark green highlight background
66ffff - blue text
ffff66 - yellow text
ffd966 - orange text

ff8000 - beutifull text color

daffb3; - light green backgrounds
d9f0c1;
dcf8d3;
f2ffe6
e6ffcc



eef7f4 - two nice light blue backgrounds
daf1eb


e5ffeb - light blue backgrounds
ccffd8
daf1e6


    background: #daffb3;
    background: #d9f0c1;
    background: #dcf8d3;
    background: #dcf8d3;

    background: #e5ffeb;
    background: #b8d65c;
    background: #ccff99;
    background: #d9f4be;


*/



