@import url('https://fonts.googleapis.com/css?family=Changa:200|Work+Sans:300|Titillium+Web:200');
body {
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6, .navbar {
    font-family: 'Titillium Web', sans-serif;
}

/*
div[class^='col'] h3, div[class*='col'] h3 {
    color: #F00;
}

.col-lg-3:nth-child(4n+1){
    clear: left;
}
*/

/* --- _COLORS
#ace600; real lime
#94c20a; lit bit darker lime for logo
#00b386; blue green used for default heading color
#394d00; very dark text green
#264039; dark green highlight background
*/

/* --- _SECTIONS ---------------------------- */

html, body {
    height: 100%;
}
body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
    color: Black;
    font-smooth: never;
    background: White;
}
section, .banner, div[class^='col'], div[class*='col'] {
    padding-bottom: 2em;
}
.row {
    padding-top: 4em;
}
.highlighted .row, footer .row {
    padding-top: 2em;
}

/*-- _HEADINGS and COPY -------------------------------------------- */

a:hover {
    text-decoration: none;
}
p a, p a:hover {
    color: inherit;
    border-bottom: 2px dotted #888;
}
p a:hover {
    border-bottom: 0;
    color: #a6da0b
}
p {
    line-height: 1.5;
}
h1, h2, h3 {
	color: #00b386;
    font-weight: 200;
    margin: 0 0 20px;
}

.banner h1 {
	color: white;
}



ul.native {
    padding-left: 0;
    list-style: none;
}
ul.native li {
    padding-left: 20px;
    background: url("images/iconmonstr-arrow-29.svg") no-repeat left .4em;
}

/* -- _HIGHLIGHTED -------------------------------------- */

.highlighted {
    background: #264039;
    color: rgba(255, 255, 255, 0.75);
    padding-bottom: 0;
}
.highlighted h2 {
	color: #ace600;
}
.highlighted h3 {
	color: #66ffff; /* blue */
	color: #ffff66; /* yellow */
	color: #ffd966; /* orange */
}
.highlighted img {
	border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px 5px 0 0;
}

/* -- _BRAND --------------------------------------------- */

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    background: #94c20a;
    font-weight: 600;
    color: White;
}
.navbar-inverse .navbar-brand:hover {
    background: #739900;
}

/* -- _NAVIGATION INHERIT -------------------------------- */

.navbar-inverse .navbar-nav > li > a:focus {
    color: inherit;
}
.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    font-weight: inherit;
    color: inherit;
    background: inherit;
}

/*-- _NAVIGATION --------------------------------------- */

.navbar {
    border: 0;
    box-shadow: none;
    background: transparent;
    font-weight: bold;
    transition-duration: 1s;
    background-position: center bottom;
    transition-duration: 1s;
}
.navbar.scrolled {
    background: #1f7a56;
    background: url("images/navBG.png") center no-repeat;
    background-size: cover;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 0 6px 6px rgba(0,0,0,.3);
}
/* nav no scrooled color */
.navbar, .navbar-inverse .navbar-nav > li > a {
    color: white;
}
/* nav scrooled color */
.navbar.scrolled, .scrolled.navbar-inverse .navbar-nav > li > a, footer a {
    color: #009973;
}
/* nav hover color */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-nav .dropdown:hover > a, .navbar-nav .dropdown a:hover,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
footer a:hover  {
    color: #ace600;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: inherit;
}
/*
.navbar-collapse {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
*/
.dropdown {
    cursor: pointer;
}
.dropdown-menu {
    border: 0;
    background: transparent;
    box-shadow: none;
    text-align: right;
}
.scrolled .dropdown-menu {
    border-radius: 2px;
    background: rgba(255,255,255,0.95);
    box-shadow: 0px 5px 4px 1px rgba(0,0,0,.3);
}
.dropdown-menu li:last-child {
    font-weight: normal;
}


/*-- _WHITE ----------------------------------- */


/*-- _FOOTER ----------------------------------- */

footer {
    box-shadow: 0 0 6px 6px rgba(0,0,0,.3);
    color: gray;
}
footer .contact .larger span {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

footer ul {
    font-weight: bold;
}

/*-- _BANNER ----------------------------------- */

.banner {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    color: rgba(255, 255, 255, 1);
    background: rgba(40, 50, 0, 0.6);
	border-bottom: 2px solid #a6da0b;
}
.banner.the_firm, .banner.practice_areas, .banner.our_team, .banner.links_events, .banner.contact {
    padding-top: 200px;
    background-repeat: no-repeat left -100px;
    background-size: cover;
    background-attachment: fixed;
}
.banner h1 {
    margin-bottom: 10px;
}
.banner.the_firm {
    background-image: url("images/BG-the_firm.jpg");
    background-position: center -100px;
}
.banner.the_firm h1 {
}
.banner.practice_areas {
    background-image: url("images/BG-practice_areas.png");
    background-position: center -200px;
}
.banner.our_team {
    background-image: url("images/BG-our_team2.jpeg");
    background-position: center -100px;
}
.banner.links_events {
    background-image: url("images/BG-links_events.jpeg");
    background-position: right top;
}
.banner.contact h1 {
    text-align: right;
}
.banner.contact {
    background-image: url("images/BG-contact.jpg");
    background-position: left top;
}

/*
.banner.the_firm .shade {
    background: rgba(111, 145, 8, 0.5);
    text-shadow: 1px 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/
.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}





















.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}








/* Page Sections */



.tab-pane {
    margin-top: 15px;
}
.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}



/* ------------------------------------------------------------------ */

/* MIN MEDIUM = Desktops */
@media only screen and (min-width: 769px) {
    img + h3 {
        margin-top: 20px;
    }
    body {
        font-size: 15px;
    }
    .navbar {
        font-size: 16px;
    }
    h1 {
    	font-size: 55px;
    }
    h2 {
    	font-size: 28px;
    }
    .col-lg-12 h2 {
    	font-size: 34px;
    }
    h3 {
    	font-size: 25px;
    }
    .banner {
        font-size: 18px;
    }
    ul.native li {
        background-size: 12px 12px;
    }
    footer .contact .larger span {
        font-size: 17px;
    }
}

/* MIN LARGE  */
@media only screen and (min-width : 993px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    body {
        font-size: 19px;
    }
    .banner h1 {
    	font-size: 80px;
    }
    .banner .large {
        font-size: 34px;
    }
    h2 {
    	font-size: 36px;
    }
    .col-lg-12 h2 {
    	font-size: 50px;
    	margin: 0;
    }
    h3 {
    	font-size: 30px;
    }
    .banner {
        font-size: 24px;
    }
    ul.native li {
        background-size: 15px 15px;
    }

    footer .copyright {
        font-size: 14px;
    }
    footer .contact {
        font-size: 17px;
    }
    footer .contact .larger span {
        font-size: 19px;
    }


}
/* LARGE Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
    .banner h1 {
    	font-size: 100px;
    }
    .banner.home h1 {
    	font-size: 60px;
    }
    .banner .large {
        font-size: 40px;
    }
}

/* MOBILE + TABLETS = SMALL */
@media only screen and (max-width : 768px) {
    div[class^='col'] img, div[class*='col'] img {
        display: none;
    }
    body {
        font-size: 18px;
    }
    h1 {
    	font-size: 45px;
    }
}

/* Custom */
@media only screen and (max-width : 550px) {
    div[class^='col'], div[class*='col'] {
        width: 100%;
    }
}

/* MOBILE = XSMALL */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

